@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@500&family=Open+Sans&family=Playfair+Display:wght@500&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

figure {
  text-align: center;
}
// variables
@width0: 14rem;
@height0: 18rem;
//fonte titulos
@titlebanner: "Merriweather", serif;
@titlesection: "Playfair Display", serif;
@spansection: "Montserrat", sans-serif;
@texts: "Open Sans", sans-serif;
//tamanho titulos
@bannersize: 3rem;
@titlesize: 2.5rem;
@subtitlesize: 1rem;
@spansize: 0.7rem;
@textsizes: 1em;
//cores
@laranja: #f37b20;
@preto: #252626;
@cinza: #fafafa;

.container__wrapper {
  margin: 10px;
}

//plano de fundo
.bg__container {
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5% 10%;

  &.bg__white {
    background-image: url(/bg_banner.png);
    background-color: white;
    background-position-x: -50px;
  }
  &.bg__gray {
    background-image: url(/bg_company.png);
    background-position: right;
    background-color: @cinza;
  }
  &.bg__black {
    background-image: url(/bg_black.png);
    background-color: @preto;
  }
}

//titulos
.titleBanner {
  font-size: @bannersize;
  line-height: "130%";
  letter-spacing: "0.04em";
  font-family: @titlebanner;
}
.titlesection {
  font-family: @titlesection;
  font-size: @titlesize;
  margin-bottom: 1rem;
  line-height: 1em;
  letter-spacing: 5px;
  text-transform: capitalize;
}
.spansection {
  font-family: @spansection;
  color: @laranja;
  font-size: @spansize;
  margin: auto;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}
.subtitlesection {
  font-family: @titlesection;
  color: @preto;
  font-size: @subtitlesize;
  margin: 1em 0;
  line-height: 1em;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: capitalize;
}
.outhertexts {
  font-family: @texts;
  font-size: @textsizes;
  text-align: justify;
  margin: 0.6rem;
}
.underlaine {
  border-bottom: solid 2px @laranja;
}
.underlaine__card {
  border: @laranja 1px solid;
  width: 80px;
  background-color: @laranja;
}

//NAVBAR
@media (min-width: 750px) {
  .menubtn {
    margin-top: 20px;
    display: none;
  }
  .bigmenu {
    margin-top: 10px;
    right: 10px;
  }
}

@media (max-width: 750px) {
  .bigmenu {
    margin-top: 10px;
    display: none;
  }
  .menubtn {
    position: absolute;
    margin-top: 20px;
    right: 20px;
  }
}

//CARDS
/* O container geral define a perspectiva */
.flip-container {
  font-family: @texts;
  max-width: @width0;
  height: @height0;
  /* define a velocidade da transição */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    /* vira os containers frente e verso quando o mouse passa em cima */
    &:hover {
      transform: rotateY(180deg);
    }
    /* esconde o verso durante a animação */
    .front,
    .back {
      max-width: @width0;
      height: @height0;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
    /* frente posicionada sobre o verso */
    .front {
      z-index: 2;
      width: @width0;
      background-size: contain;
    }
    /* verso inicialmente escondido */
    .back {
      transform: rotateY(180deg);
      display: flex;
      flex-flow: column-reverse;
    }
  }
}

//CONTATO
.login-form-button {
  width: 80%;
}

//rodape
.rodape {
  background-color: black;
  text-align: center;
  padding: 5px;
  span {
    font-family: @texts;
    letter-spacing: 0.5px;
  }
}
