
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

figure {
  text-align: center;
  align-self: center;
}

// variables
@width0: 14rem;
@height0: 18rem;
//fonte titulos
@title_banner: "Merriweather", serif;
@title_section: "Playfair Display", serif;
@span_section: "Montserrat", sans-serif;
@texts: "Open Sans", sans-serif;
//tamanho titulos
@banner_size: 3rem;
@title_size: 2.5rem;
@subtitle_size: 2.2rem;
@span_size: 0.7rem;
@text_sizes: 1em;
//cores
@orange: #f37b20;
@black: #252626;
@gray: #fafafa;

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
}

.container__wrapper {
  padding: 10px;
}

//plano de fundo
.bg__container {
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px 30px;

  &.bg__white {
    background-image: url(/bg_banner.png);
    background-color: white;
    background-position-x: -50px;
  }

  &.bg__gray {
    background-image: url(/bg_company.png);
    background-position: right;
    background-color: @gray;
  }

  &.bg__black {
    background-image: url(/bg_black.png);
    background-color: @black;
  }
}

//titulos
.title-banner {
  font-size: @banner_size;
  letter-spacing: 0.2rem;
  font-family: @title_banner;
}

.title-section {
  font-family: @title_section;
  font-size: @title_size;
  margin-bottom: 1rem;
  line-height: 1em;
  letter-spacing: 5px;
  text-transform: capitalize;
}

.span-section {
  font-family: @span_section;
  color: @orange;
  font-size: @span_size;
  margin: auto;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.subtitle-section {
  font-family: @title_section;
  color: @black;
  font-size: @subtitle_size;
  margin: 1em 0;
  line-height: 1em;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: capitalize;
}

.outher-texts {
  font-family: @texts;
  font-size: @text_sizes;
  text-align: justify;
  margin: 0.6rem;
}

.underline {
  border-bottom: solid 2px @orange;
}

.underline__card {
  border: @orange 1px solid;
  width: 80px;
  background-color: @orange;
}

//NAVBAR
.nav-menu {
  padding: 2% 5% !important;
  background-color: white !important;
}

//CARDS
.container__cards {
  width: 240px;
  height: 340px;
  cursor: pointer;
}

.overlay {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(221, 220, 220, 0.9);
  opacity: 0;
  transition: all 0.5s;
  flex-direction: column;
  justify-content: end;
}

.items {
  padding: 10px 12px;
  color: @black;

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    letter-spacing: 1.5px;
    text-align: start;

    li {
      user-select: none;

      &:before {
        content: "★";
        padding: 2px;
        color: @orange;
      }
    }
  }
}

.head {
  transform: translateY(40px);
  transition: all 0.6s;
}

.head hr {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 2px @orange;
  position: absolute;
  bottom: 0;
  left: 20px;
  transition: all 0.4s;
}

.container__cards:hover .overlay, .container__cards:focus .overlay {
  opacity: 1;
}

.container__cards:hover .overlay .head, .container__cards:focus .overlay .head {
  transform: translateY(10px);
}

.container__cards:hover .overlay hr, .container__cards:focus .overlay hr {
  width: 75px;
  transition-delay: 0.3s;
}

//CARDS ITEMS
.container__icon-items {
  //display: flex;
  //justify-content: space-between;
}
.ant-card-body{
  padding: 24px 10px!important;
}

.icon-cards_description {
  min-height: 15rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    letter-spacing: 1.5px;
    text-align: start;

    li {
      user-select: none;

      &:before {
        content: "★";
        padding: 2px;
        color: @orange;
      }
    }
  }
}

//CONTATO
.contact-form__button {
  width: 100%;
}

.ant-input-textarea-show-count::after {
  color: white !important;
}

//rodape

.rodape_figure {
  text-align: center;
  align-self: center;
  align-items: center;
}

.rodape_name {
  background-color: black;
  text-align: center;
  padding: 5px;

  span {
    font-family: @texts;
    letter-spacing: 0.5px;
  }
}

@media (min-width: 750px) {
  .menu-btn {
    display: none !important;
  }

  .big-menu {
    margin-top: 10px;
    right: 10px;
    justify-content: end;
    text-align: end;
    border-bottom: none;
  }
}

@media (max-width: 750px) {
  .big-menu {
    display: none !important;
  }

  .menu-btn {
    margin-top: 20px;
  }

  .ant-drawer-content-wrapper {
    width: 280px !important;
  }

  //banner
  .title-banner {
    font-size: 2.5em;
  }

  .title-section {
    font-size: 2rem;
  }

  .span-section {
    font-size: 0.7em;
  }

  //cards
  .container__cards {
    width: 220px;

    .items ul {
      letter-spacing: 0.8px;
    }
  }
}
